* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
body {
  box-sizing: border-box;
  color: #172b4d;
  padding: 0 !important;
  font-size: 14px;
  line-height: 1.4;
  transition: .3s all;
  position: relative;
  font-weight: normal;
  font-family: 'Roboto'; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
    text-decoration: none !important;
    transition: .3s all;
    margin-bottom: 0;
    outline: none !important; }
  body a {
    transition: .3s all !important;
    color: #000000; }
    body a:hover {
      color: #E5C796; }
  body ul {
    padding: 0;
    margin: 0; }
  body input, body button {
    outline: none !important;
    box-shadow: none;
    transition: .3s all; }
  body .slick-slide {
    height: auto; }
    body .slick-slide img {
      display: inline; }
  body .container {
    width: 100%;
    max-width: 1200px; }
  body img {
    max-width: 100%; }
  body .slick-slider {
    margin-bottom: 0; }

.title h2 {
  font-size: 24px;
  font-weight: bold; }
@media (max-width: 767px) {
  .title h2 {
    font-size: 18px; } }

.col-bar {
  flex: 0 0 330px;
  max-width: 330px; }
  @media (max-width: 767px) {
    .col-bar {
      flex: 0 0 100%;
      max-width: 100%; } }

.col-content {
  flex: 0 0 calc(100% - 330px);
  max-width: calc(100% - 330px); }
  @media (max-width: 767px) {
    .col-content {
      flex: 0 0 100%;
      max-width: 100%; } }

.box-product-preview {
  padding: 60px 0; }

.side-bar {
  border: 1px solid #e4e5e8;
  border-radius: 5px;
  position: sticky;
  top: 15px; }
  .side-bar .title-bar {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 11px 15px;
    border-bottom: 1px solid #e4e5e8;
    line-height: initial; }
  @media (max-width: 767px) {
    .side-bar {
      margin-top: 20px; } }

.list-info {
  padding: 0 15px; }
  .list-info .item {
    padding: 15px 0;
    border-bottom: 1px solid #e4e5e8;
    display: flex;
    align-items: center; }
    .list-info .item:last-child {
      border-bottom: 0; }
    .list-info .item .icon {
      flex: 0 0 25px;
      margin-right: 10px;
      text-align: center; }
    .list-info .item span {
      color: #9a9a9a;
      display: block;
      margin-top: 8px; }
    .list-info .item .info {
      flex: 0 0 calc(100% - 35px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .list-info .item .info a {
        color: #1667f0; }
        .list-info .item .info a:hover {
          color: #eb0000; }

.content-rait {
  max-width: 500px;
  border: 1px solid #e4e5e8;
  border-radius: 5px; }
  .content-rait .item {
    padding: 20px 15px; }
  .content-rait .txt_field {
    width: 100%;
    height: 100px;
    outline: none;
    border: 0;
    color: #172b4d; }
    .content-rait .txt_field::placeholder {
      color: #9a9a9a;
      letter-spacing: 3px; }
  @media (max-width: 767px) {
    .content-rait .item {
      flex-wrap: wrap; } }

.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
  color: #9a9a9a;
  font-size: 24px;
  line-height: initial;
  padding: 16px 0;
  border-bottom: 1px solid #e4e5e8; }
  .rating label {
    margin-right: 2px;
    cursor: pointer; }

.rating input {
  display: none; }

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
  color: #fdc456; }

#file-upload {
  position: absolute;
  left: -9999px; }

.file-upload {
  flex: 0 0 calc(100% - 110px);
  max-width: calc(100% - 110px);
  width: 100%;
  border-radius: 6px;
  border: 1px solid #e4e5e8;
  position: relative; }
  .file-upload label[for="file-upload"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; }
  .file-upload #filename {
    white-space: nowrap;
    overflow: hidden;
    color: #9a9a9a;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center; }
  @media (max-width: 767px) {
    .file-upload {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 15px;
      height: 40px; } }

.btn-submit {
  margin-left: 15px; }
  .btn-submit .btn_field {
    cursor: pointer;
    width: 95px;
    height: 40px;
    border: 0;
    color: #fff;
    border-radius: 6px;
    background: #eb0000; }
    .btn-submit .btn_field:hover {
      opacity: 0.6; }
  @media (max-width: 767px) {
    .btn-submit {
      text-align: center;
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0; } }

.box-review-product {
  margin-top: 60px; }
  .box-review-product h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px; }
  .box-review-product .desc {
    padding: 22px 0; }
  @media (max-width: 767px) {
    .box-review-product {
      margin-top: 25px; }
      .box-review-product .desc {
        padding: 15px 0; } }

.info-preview h1 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5; }
.info-preview .numb-raiting {
  padding: 6px 0 15px 0;
  font-size: 15px; }
  .info-preview .numb-raiting ul {
    display: flex;
    align-items: center;
    color: #fdc456; }
    .info-preview .numb-raiting ul li {
      margin-right: 3px; }
      .info-preview .numb-raiting ul li.no-raiting {
        color: #9a9a9a; }
      .info-preview .numb-raiting ul li:last-child {
        margin-right: 0; }
  .info-preview .numb-raiting span {
    font-size: 14px;
    margin-left: 4px;
    letter-spacing: 2px;
    color: #9a9a9a; }
.info-preview .price {
  color: #9a9a9a; }
  .info-preview .price ul {
    display: flex;
    align-items: center; }
    .info-preview .price ul li {
      margin-right: 15px; }
      .info-preview .price ul li:last-child {
        margin-right: 0; }
  .info-preview .price p {
    font-size: 18px;
    color: #eb0000;
    font-weight: bold; }
@media (max-width: 1023px) {
  .info-preview {
    margin-top: 40px; } }
@media (max-width: 767px) {
  .info-preview {
    margin-top: 25px; }
    .info-preview h1 {
      font-size: 16px; } }

.choose-status {
  padding: 15px 0; }
  .choose-status li {
    margin-bottom: 8px;
    position: relative; }
    .choose-status li:last-child {
      margin-bottom: 0; }
    .choose-status li input {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0; }
    .choose-status li label {
      position: relative;
      padding-left: 25px;
      cursor: pointer; }
      .choose-status li label:after {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border: 1px solid #9c9c9c;
        position: absolute;
        left: 0;
        top: 1px; }
      .choose-status li label:before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: #eb0000;
        position: absolute;
        left: 4px;
        top: 5px;
        transition: .3s all !important;
        opacity: 0; }
    .choose-status li [type="radio"]:checked + label:before {
      opacity: 1 !important; }
    .choose-status li [type="radio"]:checked + label:after {
      border: 1px solid #eb0000 !important; }

.quantity {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  position: relative; }
  .quantity .txt_cart {
    width: 120px;
    margin-right: 15px;
    height: 40px;
    border: 1px solid #e4e5e8;
    border-radius: 6px;
    padding: 0 10px;
    box-shadow: none !important; }
  .quantity .right {
    flex: 0 0 calc(100% - 135px);
    max-width: calc(100% - 135px); }
  .quantity .field_cart {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 6px;
    background: #eb0000;
    color: #fff;
    cursor: pointer; }
    .quantity .field_cart:hover {
      opacity: 0.6; }

.floating-label-group {
  position: relative;
  margin-right: 15px; }
  .floating-label-group input {
    box-shadow: none !important;
    background: #fff;
    font-size: 14px; }
  .floating-label-group .floating-label {
    color: #9a9a9a;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    pointer-events: none;
    box-shadow: none !important; }
    .floating-label-group .floating-label span {
      padding-left: 5px;
      color: #eb0000; }
  .floating-label-group input:focus ~ .floating-label,
  .floating-label-group input:not(:focus):valid ~ .floating-label {
    opacity: 0;
    outline: none !important;
    box-shadow: none !important; }

.desc-product {
  font-size: 12px;
  color: #9a9a9a; }
  .desc-product ul {
    padding-left: 18px; }
    .desc-product ul li {
      margin-bottom: 6px; }
      .desc-product ul li:last-child {
        margin-bottom: 0; }

.slide-preview {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .slide-preview .left {
    flex: 0 0 65px;
    max-width: 65px; }
  .slide-preview .right {
    flex: 0 0 calc(100% - 65px);
    max-width: calc(100% - 65px);
    width: 100%; }
  @media (max-width: 767px) {
    .slide-preview .left {
      flex: 0 0 100%;
      max-width: 100%;
      display: none; }
    .slide-preview .right {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%; } }

.slide-bot {
  margin-top: 15px; }
  @media (max-width: 767px) {
    .slide-bot {
      display: block !important; } }

.slider-nav-video {
  margin: -5px 0; }
  .slider-nav-video .clc {
    padding: 5px 0; }
  .slider-nav-video .slick-arrow {
    display: block;
    text-align: center;
    font-size: 20px; }

/*# sourceMappingURL=style.css.map */
